<!doctype html>
<html>
	<head>
		<title>Demo</title>
		<script src="https://unpkg.com/@webcomponents/webcomponentsjs@^2.0.0/webcomponents-loader.js"></script>
		<script type="module" src="../paper-search-bar.js"></script>
	</head>

	<body>
		<dom-bind>
			<template>
				<paper-search-bar
					query="{{query}}"
					placeholder="Enter search term"
					nr-selected-filters="3"
					on-paper-search-search="search"
					on-paper-search-filter="filter">
				</paper-search-bar>
			</template>
		</dom-bind>

		<script>
			var scope = document.querySelector("dom-bind");
		<script type="module">
import '../paper-search-bar.js';
var scope = document.querySelector("dom-bind");
scope.search = function() {
    alert("Searching for " + scope.query);
};
scope.filter = function() {
    alert("Filter dialog");
};
</script>